//colors
$clr-primary-400: hsl(257, 40%, 49%);
$clr-primary-300: hsl(300, 69%, 71%);

//typography
$ff-heading: "Poppins", sans-serif;
$ff-body-text: "Open Sans", sans-serif;

$fw-normal: 400;
$fw-bold: 600;
